@model hw_15.ViewModels.EmailLetterViewModel

<div class="fm-home-editor" style="min-height: 100vh">
    <div class="fm-editor is-home">
        <form class="fm-editor-form" asp-action="SendLetter" method="post" style="grid-template-rows: max-content;">
            <input class="fm-input p-2 w-100 mb-3" placeholder="Title letter" required type="text" asp-for="Title" style="height: 50px;"/>
            <div class="fm-editor-body">
                <div class="fm-input fm-editor-text">
                    <div class="fm-editor-prompt display-none">
                        <p class="fm-editor-prompt-body"></p>
                        <span class="fm-icon fm-editor-prompt-close is-2">
                            <i class="fa-solid fa-times-circle"></i>
                        </span>
                    </div>

                    <div class="fm-editor-text-body">
                        <textarea class="fm-editor-textarea" asp-for="@Model.Comment" required>Dear FutureMe,</textarea>
                    </div>
                </div>

                <div class="fm-editor-controls">
                    <div class="fm-editor-control" data-controller="letter-editor-delivery">
                        <div class="fm-editor-heading">
                            <label asp-for="@Model.Date" class="fm-editor-heading-label">
                                Select <strong>date</strong>
                            </label>
                        </div>

                        <div data-letter-editor-delivery-target="delivery duration" class="fm-editor-delivery" style="display: block;">
                            <div class="fm-options are-inline">
                                <input type="date" asp-for="@Model.Date" value="" required min="@(DateTime.Today.AddDays(1).ToString("yyyy-MM-dd"))" style="padding: 10px; border-radius: 8px"/>
                            </div>
                        </div>
                    </div>

                    <div class="fm-editor-control">
                        <div class="fm-editor-heading">
                            <label asp-for="@Model.Email" class="fm-editor-heading-label">
                                Make sure you <strong>get your letter</strong>
                            </label>
                        </div>

                        <div class="fm-control">
                            <input type="email" class="fm-input p-2 w-100" asp-for="@Model.Email" placeholder="Your email" required/>
                        </div>
                    </div>

                    <button class="fm-editor-submit fm-btn is-fullwidth size-large is-fullspectrum">
                        <span class="animate-background fullspectrum-gradient">
                            Send to the Future
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>